@if(IsMultilinguismEnabled && PropertyViewModel.IsStringDataType == true && PropertyViewModel.IsEnumeration == false)
{
    <table width="100%" border="0">
        <tr  style="vertical-align: top;">
            <td width="50%">
                <fieldset class="propertyField">
                    <legend>
                        <span>@PropertyViewModel.Title (@PrimaryLanguage)</span>
                        @{
                            string unit = PropertyViewModel.Unit;
                            if (!string.IsNullOrEmpty(unit))
                            {
                                <span>&nbsp;[@unit]</span>
                            }
                        }
                    </legend>


                    <PropertyContentViewer PropertyViewModel="@PropertyViewModel"
                                       Language="@PrimaryLanguage" />

                </fieldset>
            </td>
            <td width="50%">
                <fieldset class="propertyField">
                    <legend>
                        <span>@PropertyViewModel.Title (@SecondaryLanguage)</span>
                        @{
                            unit = PropertyViewModel.Unit;
                            if (!string.IsNullOrEmpty(unit))
                            {
                                <span>&nbsp;[@unit]</span>
                            }
                        }
                    </legend>


                    <PropertyContentViewer PropertyViewModel="@PropertyViewModel"
                                       Language="@SecondaryLanguage" />

                </fieldset>
            </td>
        </tr>
    </table>
}
else
{
    <fieldset class="propertyField">
        <legend>
            <span>@PropertyViewModel.Title</span>
            @if(PropertyViewModel.IsStringDataType && !PropertyViewModel.IsEnumeration)
            {
                <span> (@PrimaryLanguage)</span>
            }
            @{
                string unit = PropertyViewModel.Unit;
                if (!string.IsNullOrEmpty(unit))
                {
                    <span>&nbsp;[@unit]</span>
                }
            }
        </legend>


        <PropertyContentViewer PropertyViewModel="@PropertyViewModel"
                               Language="@PrimaryLanguage" />

    </fieldset>
}

