@using MDD4All.SpecIF.ViewModels.Models
<fieldset class="propertyField">
    <legend>
        <span>@PropertyViewModel.Title</span>
        @{
            string unit = PropertyViewModel.Unit;
            if (!string.IsNullOrEmpty(unit))
            {
                <span>&nbsp;[@unit]</span>
            }
        }
    </legend>

    @if (!PropertyViewModel.IsEnumeration)
    {
        string type = PropertyViewModel.DataTypeType;

        switch (type)
        {
            case "xs:string":
                if (IsMultilinguismEnabled)
                {
                    <table width="100%">
                        <tr>
                            <th>(@PropertyViewModel.PrimaryLanguage)</th>
                            <th>(@PropertyViewModel.SecondaryLanguage)</th>
                        </tr>
                        <tr>
                            <td>
                                @if (PropertyViewModel.Format == "plain")
                                {
                                    <textarea class="form-control" rows="2" @bind="PropertyViewModel.PrimaryLanguageStringValue"></textarea>
                                }
                                else // xhtml
                                {
                                    <BlazingComponents.Summernote.Editor @bind-Content="PropertyViewModel.PrimaryLanguageStringValue"
                                                                         ShowEditButton="false" />
                                }
                            </td>
                            <td>
                                @if (PropertyViewModel.Format == "plain")
                                {
                                    <textarea class="form-control" rows="2" 
                                              @bind="PropertyViewModel.SecondaryLanguageStringValue"
                                              @ref="_focusedElement"></textarea>
                                }
                                else // xhtml
                                {
                                    <BlazingComponents.Summernote.Editor @bind-Content="PropertyViewModel.SecondaryLanguageStringValue"
                                                                         ShowEditButton="false" />
                                }
                            </td>
                        </tr>
                    </table>
                }
                else
                {
                    if (PropertyViewModel.Format == "plain")
                    {
                        <textarea class="form-control" rows="2" @bind="PropertyViewModel.PrimaryLanguageStringValue"
                                  @ref="_focusedElement"></textarea>
                    }
                    else // xhtml
                    {
                        <BlazingComponents.Summernote.Editor @bind-Content="PropertyViewModel.PrimaryLanguageStringValue"
                                         ShowEditButton="false" />
                    }
                }
                break;

            case "xs:integer":
                <input type="text" class="form-control" 
                       @bind="PropertyViewModel.Value"
                       @ref="_focusedElement"/>
                break;

            case "xs:double":
                <input type="text" class="form-control" 
                       @bind="PropertyViewModel.Value"
                       @ref="_focusedElement"/>
                break;

            case "xs:boolean":
                <input type="checkbox" 
                       class="form-check-input" 
                       @bind="PropertyViewModel.Value"
                       @ref="_focusedElement">
                break;
        }
    }
    else
    {
        @if (PropertyViewModel.HasMultipleValues)
        {
            <select class="form-control"
            multiple
            @bind="SelectedEnumValues"
            @ref="_focusedElement">
                @foreach (EnumSelectItem item in PropertyViewModel.EnumerationOptions)
                {
                    <option value="@item.Value">@item.Title</option>
                }
            </select>
        }
        else
        {
            <select class="form-control"
                    @ref="_focusedElement"
                    @bind="SelectedEnumValue">

                <option value=""></option>

                @foreach (EnumSelectItem item in PropertyViewModel.EnumerationOptions)
                {
                    <option value="@item.Value">@item.Title</option>
                }
            </select>
        }


    }
</fieldset>