@using MDD4All.SpecIF.DataModels
<select class="@CssStyles" @onchange="OnHierarchySelectionChange">
    @foreach (ResourceClass resourceClass in AvailableResourceClasses)
    {
        Key key = new Key(resourceClass.ID, resourceClass.Revision);
        string resourceClassRevision = @resourceClass.Revision;
        if(resourceClassRevision.Length > 10)
        {
            resourceClassRevision = resourceClassRevision.Substring(0, 9) + "…";
        }
        string displayedValue = resourceClass.Title + " (" + resourceClassRevision + ")";

        <option value="@key.ToString()"><ResourceIcon Icon="@resourceClass.Icon"></ResourceIcon> @displayedValue</option>
    }
</select>

