@using MDD4All.SpecIF.DataModels.Manipulation
@using MDD4All.SpecIF.ViewModels

@if (ResourceViewModel != null)
{
    string resourceClass = ResourceViewModel.ClassRevision;
    if (!string.IsNullOrEmpty(resourceClass))
    {
        resourceClass = " (" + resourceClass + ")";
    }
    else
    {
        resourceClass = "";
    }

    <div class="resourcePanel">
        <fieldset class="resourceFieldset">
            <legend>
                <strong>Resource <ResourceIcon Icon="@ResourceViewModel.Icon" /> [@ResourceViewModel.Type@resourceClass]</strong>

            </legend>

            @if (HierarchyViewModel != null && HierarchyViewModel.SelectedNode != null)
            {
                <fieldset class="propertyField">
                    <legend>Node ID</legend>
                    <p>
                        @(((NodeViewModel)HierarchyViewModel.SelectedNode).NodeID)
                    </p>
                </fieldset>
            }
            <fieldset class="propertyField">
                <legend>Key</legend>
                <p style="font-family: 'Courier New', monospace;">
                    @ResourceViewModel.Resource.Key()
                    @if (ClipboardDataProvider != null)
                    {
                        <span>
                            &nbsp;
                            <button class="btn btn-secondary btn-rounded btn-icon btn-small"
                            @onclick="CopyKeyToClipboardAsync">
                                <i class="@CopyButtonIconClass"></i>
                            </button>
                        </span>
                    }

                </p>
            </fieldset>

            @if (ResourceViewModel.Resource != null)
            {
                <fieldset class="propertyField">
                    <legend>ChangedAt</legend>
                    <p>
                    
                        @ResourceViewModel.Resource.ChangedAt.ToString()
                    </p>
            </fieldset>
            }
            @{
                int counter = 0;
            }

            @foreach (PropertyViewModel propertyViewModel in ResourceViewModel.Properties)
            {
                counter++;
                @if (ResourceViewModel.IsInEditMode)
                {
                    if(counter == 1)
                    {
                        <PropertyEditor PropertyViewModel="@propertyViewModel"
                                        IsMultilinguismEnabled="@IsMultilinguismEnabled"
                                        PrimaryLanguage="@PrimaryLanguage"
                                        SecondaryLanguage="@SecondaryLanguage" 
                                        SetFocus=true />

                    }
                    else
                    {
                        <PropertyEditor PropertyViewModel="@propertyViewModel"
                                        IsMultilinguismEnabled="@IsMultilinguismEnabled"
                                        PrimaryLanguage="@PrimaryLanguage"
                                        SecondaryLanguage="@SecondaryLanguage"
                                        SetFocus=false />
                    }
                }
                else
                {
                    <PropertyViewer PropertyViewModel="@propertyViewModel"
                                    IsMultilinguismEnabled="@IsMultilinguismEnabled"
                                    PrimaryLanguage="@PrimaryLanguage"
                                    SecondaryLanguage="@SecondaryLanguage" />
                }
            }
        </fieldset>
    </div>
}
else
{
    <div class="noSelctionPanel">No Resource selected.</div>
}